.nav10{
    background-color: #1d1d1e !important;
}
.svg1:hover{
    color: #13b299 !important;
}
.svg3:hover{
    color: #13b299 !important;
}
.navlink1:hover{
    color: #13b299 !important;
}
.col11:hover{
    color: #13b299 !important;
}
.col12:hover{
    color: #13b299 !important;
}
.navbrand{
    cursor: pointer;
}
.btn10{
    color: white !important;
    background-color: #1d1d1e !important;
    border: none !important;
}
.btn10:hover{
    color: #13b299 !important;
}
.btn11{
    color: white !important;
    background-color: #13b299 !important;
    border-color: #13b299 !important;
    border-radius: 0px  !important;
}
.svg200:hover{
    color: #13b299 !important;
}